.eventAdvisor {
    font-family: "Lobster", sans-serif;
    color: #ffb685;
    font-size: 19vw;
}
@media screen and (min-width: 499px) {
    .eventAdvisor {
     font-size: 85px;
    }
}
/* for future addition of event panel */
/* #attraction-panel {
    display:none;
} */